@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

.hed{
    height:100%;
    background-color: white;
}

.navbar{
    background-color: blue;
   
}
.colorwhite{
    color:white;
    padding: 3%
    
}
h4{
    font-family: 'Pacifico', cursive;
    color:blue;

}
p{
    font-size: 10px;
}
.card:hover{
    -webkit-box-shadow:-1px 9px 40px -12px rgba(0,0,0,0.75);
    -moz-box-shadow:-1px 9px 40px -12px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 40px -12px rgba(0, 0, 0,0.75)
    

}
