@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

.hed{
    height:100%;
    background-color: white;
}

.navbar{
    background-color: blue;
   
}
.colorwhite{
    color:white;
    padding: 3%;
    
    
}
h4{
    font-family: 'Pacifico', cursive;
    color:blue;

}
p{
    font-size: 10px;
}

.profile{
    border:2px solid blue;
    border-radius: 50%;
    padding:10%;
    margin-top: 100px;   

}
.postimg{
    height:25%;
    width:30%;

}
.textwhite{
    color:white;
}
Link:hover {
    background-color: #000;
  }
  .height{
      height: 500px;

  }
